@import url('plugins.css');
@import url('workless.css');
@import url('typography.css');
@import url('forms.css');
@import url('tables.css');
@import url('buttons.css');
@import url('backgrounds.css');
@import url('alerts.css');
@import url('pagination.css');
@import url('breadcrumbs.css');
@import url('font.css');
@import url('helpers.css');
@import url('scaffolding.css');
@import url('print.css');
@import url('animation.css');
@import url('application.css');
#left {display:none} #splitter {display:none} #right{margin-left:0px; position:static; overflow:visible;} #search{display:none} body header {display: none !important} .docs-heading {display:none !important} body {margin-top:0px !important} .docs-content {padding: 0.5em 0 2em 0 !important} .container{width:auto !important; max-width:820px !important} nav#primary {display:none !important} #content {padding-top:0px !important} nav#docs {padding:21px 0 !important} nav#docs ul {margin-left:15px !important} .boxed {width:auto !important} #docs-content {margin-left:200px !important; float: none !important; width:auto !important; padding-top: 1px !important;} #top {display:none !important} #foot {display:none !important} #copyright {display:none !important} .prettyprint {white-space:pre-wrap !important} .docs-body {float:none !important; margin-left:220px !important; width:auto !important; max-width:600px !important}

blockquote {width:auto !important} 
